<div class="demo size1 size2" ng-controller="loginController as vm">
    <div class="login">
        <div class="login__check"></div>
        <div class="login__form">
            <div class="login__row">
                <md-icon class="pointer__icon name svg-icon" md-svg-icon="communication:ic_email_24px" style="height: 2rem;
    width: 2rem;"></md-icon>
                <input type="text" class="login__input name" placeholder="Email" ng-model="vm.auth.email"/>
            </div>
            <div class="login__row">
                <md-icon class="pointer__icon name svg-icon" md-svg-icon="action:ic_fingerprint_24px" style="height: 2rem;
    width: 2rem;"></md-icon>
                <input type="password" class="login__input pass" placeholder="Password" ng-model="vm.auth.password"/>
            </div>
            <button type="button" class="login__submit" ng-click="vm.login(vm.auth)">Sign in</button>
            <p class="login__signup">Don't have an account? &nbsp;<a ng-click="vm.register()">Sign up</a></p>
        </div>
    </div>

</div>