<div ng-controller="displayController as vm" ng-cloak="">

    <!--<md-list class="place-titre">-->
    <div class="md-padding display-evenement" md-scroll-shrink="">
        <div layout="row">
            <div layout="column">
                <md-icon class="icon-size" md-svg-icon="image:ic_panorama_24px"></md-icon>
                <h2>Evenement</h2>
            </div>
            <span flex></span>
            <md-button class="md-fab position-button" aria-label="Add" ng-click="vm.showAdd($event, null)">
                <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>
    <!--Recherche-->
    <div class="size-search">
        <md-input-container class="md-icon-float md-block search-place">
            <label>Recherche</label>
            <md-icon class="search-icon" md-svg-icon="action:ic_search_24px"></md-icon>
            <input class="search-input" ng-model="vm.recherche" type="text" style="border-width: 0 0 0 0;">
        </md-input-container>
    </div>

    <md-divider></md-divider>
    <md-content class="size-content">
        <md-section ng-repeat="group in vm.groups|filter: vm.groupFilter">
            <md-subheader class="md-primary">{{ group.label }}</md-subheader>
            <md-list layout-padding="">
                <md-list-item class="md-3-line"
                              ng-repeat="evenement in group.events| filter: vm.searchfilter"
                              ng-click="vm.showAdd($event, evenement)">


                    <!--<img ng-src="data:image/png;base64,{{evenement.base64}}" class="md-avatar" alt="">-->
                    <img ng-src="{{vm.returnImage(evenement.idImage).url()}}" class="md-avatar">
                    <!--<img ng-src="{{vm.evenemets.image.url()}}" class="md-avatar">-->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ evenement.firstname }}</h3>
                        <h4>{{ evenement.lastname }}</h4>
                        <p>{{ evenement.ville }} - {{ evenement.state }}</p>
                    </div>
                    <md-icon class="md-secondary" aria-label="Delete"
                             ng-click="vm.showConfirm($event, evenement._id)"
                             md-svg-icon="action:ic_delete_24px"></md-icon>
                    <!--<md-divider></md-divider>-->
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
        </md-section>

        <!--</md-list>-->
    </md-content>
</div>


