.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.listdemoListControls {
    /* Add some right padding so that the text doesn't overlap the buttons */
}

.listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.listdemoListControls .secondary-button-padding p {
    padding-right: 100px;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}

.md-title {
    padding-bottom: 13px;
}

.display-evenement {
    height: 100px;
    background-image: url(assets/images/ewUIL.png);
    box-sizing: initial;
}

.icon-size {
    height: 72px;
    width: 72px;
    box-sizing: initial;
}
.size-dialog-add{
    height: 370px;
    width: 500px;
}
.file_input_div {
    margin: auto;
    width: 250px;
    height: 40px;
}

.file_input {
    float: left;
}

#file_input_text_div {
    width: 200px;
    margin-top: -8px;
    margin-left: 5px;
}

.none {
    display: none;
}
.main-souris {
    cursor: hand;
}

.place-titre {
    padding-top: 0px;

}

.md-toolbar-tools {
    height: 64px;
    max-height: 64px;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
