<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="form-group add-form">
                      <label class="control-label" >Titre</label>
                      <input class="form-control" type="text" id="titre" ng-model="editEvent.titre">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group add-form">
                      <label class="control-label" >Descriptions</label>
                      <input class="form-control" type="text" id="desc" ng-model="editEvent.desc">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group add-form input-append date">
                      <label class="control-label" >Date</label>
                      <input class="form-control datepicker" type="text" id="date" ng-model="editEvent.date">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group add-form">
                      <label class="control-label" >Type</label>
                      <input class="form-control" type="text" id="type" ng-model="editEvent.type">

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <update-event></update-event>
                </td>
            </tr>
        </tbody>
    </table>
</div>