<div class="md-padding">
    <md-dialog aria-label="Inscription" ng-cloak>

        <md-toolbar style="height: 10px">
            <div class="md-toolbar-tools">
                <h2>Inscription</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <form name="inscriptionForm">
                <div class="md-dialog-content">
                    <div layout="column">

                        <md-input-container>
                            <label>User Name </label>
                            <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
                            <input name="username" ng-model="vm.signup.username" required>
                            <div ng-messages="inscriptionForm.username.$error">
                                <div ng-message="required">Ceci est nécessaire</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Email</label>
                            <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
                            <input name="email" type="email" ng-model="vm.signup.email">
                            <div ng-messages="inscriptionForm.email.$error">
                                <div ng-message="email">Email n est pas valide</div>
                            </div>
                        </md-input-container>

                        <span flex="5" hide-xs></span>

                        <md-input-container>
                            <label>Password</label>
                            <md-icon md-svg-icon="action:ic_fingerprint_24px"></md-icon>
                            <input type="password" ng-model="vm.signup.password">
                        </md-input-container>
                        <md-input-container>
                            <label>Confirm Password </label>
                            <md-icon md-svg-icon="action:ic_fingerprint_24px"></md-icon>
                            <input name="confirmPassword" type="password" ng-model="vm.signup.confirmPassword"
                                   compare-to="vm.signup.password">
                            <div ng-messages="inscriptionForm.confirmPassword.$error">
                                <div ng-message="compareTo">les mots de passes doivent être identiques</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised" ng-click="vm.answer(vm.signup)">Register</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>