.full-height {
    min-height: 100vh;
}

.toolbar-height {
    min-height: 50px;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

md-toolbar:not(.md-hue-1),
md-sidenav {
    fill: #737373;

}

.user-avatar {
    border-radius: 99%;
}

.padding0 {
    padding-top: 0px;
}

toolbar:not(.md-menu-toolbar) {
    background-color: rgb(90, 113, 239);
    color: rgba(255, 255, 255, 0.87);
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: rgb(2, 119, 189);
    color: rgb(255, 255, 255);
}